<mdt-table class="RD-prc-mst-lst">
    <mdt-header-row>
        <mdt-column>{{lng('21')}}</mdt-column>
        <mdt-column>{{lng('22')}}</mdt-column>
        <mdt-column>{{lng('23')}}</mdt-column>
        <mdt-column>{{lng('29')}}</mdt-column>
        <mdt-column>{{lng('30')}}</mdt-column>
        <mdt-column>{{lng('25')}}</mdt-column>
        <mdt-column>{{lng('26')}}</mdt-column>
        <mdt-column>{{lng('27')}}</mdt-column>
        <mdt-column>{{lng('28')}}</mdt-column>
    </mdt-header-row>

</mdt-table>
