<mdt-table class="RD-prc-mst-lst">
    <mdt-header-row>
        <mdt-column>Product name</mdt-column>
        <mdt-column>Price</mdt-column>
        <mdt-column>Details</mdt-column>
    </mdt-header-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

    <mdt-row>
        <mdt-cell>Raafet</mdt-cell>
        <mdt-cell>125.000</mdt-cell>
        <mdt-cell html-content="true">
            <a href="productdetails/2">more details</a>
        </mdt-cell>
    </mdt-row>

</mdt-table>
