<div flex layout="column" class="RD-home">

  <!-- line 01 -->
  <div flex layout="row">
    <div flex layout="row" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-1 RD-home-btn">
        <div class="material-icons">home</div>
        <div>{{lng('02')}}</div>
      </md-button>
    </div>

    <div flex layout="row" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-1 RD-home-btn" ng-click="go('prc_mst')">
        <div class="material-icons">alarm</div>
        <div>{{lng('03')}}</div>
      </md-button>
    </div>

    <div flex layout="row" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-1 RD-home-btn">
        <div class="material-icons">alarm</div>
        <div>{{lng('04')}}</div>
      </md-button>
    </div>

    <div flex layout="row" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-1 RD-home-btn">
        <div class="material-icons">alarm_on</div>
        <div>{{lng('05')}}</div>
      </md-button>
    </div>
  </div>

  <!-- line 02 -->
  <div flex layout="row">
    <div flex layout="row" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-1 RD-home-btn">
        <div class="material-icons">notifications_active</div>
        <div>{{lng('06')}}</div>
      </md-button>
    </div>

    <div flex layout="row" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-1 RD-home-btn">
        <div class="material-icons">people</div>
        <div>{{lng('07')}}</div>
      </md-button>
    </div>

    <div flex layout="row" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-1 RD-home-btn">
        <div class="material-icons">person_pin</div>
        <div>{{lng('08')}}</div>
      </md-button>
    </div>

    <div flex layout="row" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-1 RD-home-btn">
        <div class="material-icons">folder</div>
        <div>{{lng('09')}}</div>
      </md-button>
    </div>
  </div>

  <!-- line 03 -->
  <div flex layout="row">
    <div flex layout="row" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-1 RD-home-btn">
        <div class="material-icons">format_list_numbered</div>
        <div>{{lng('10')}}</div>
      </md-button>
    </div>

    <div flex layout="row" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-1 RD-home-btn">
        <div class="material-icons">timeline</div>
        <div>{{lng('11')}}</div>
      </md-button>
    </div>

    <div flex layout="row" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-1 RD-home-btn">
        <div class="material-icons">view_quilt</div>
        <div>{{lng('12')}}</div>
      </md-button>
    </div>

    <div flex layout="row" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-1 RD-home-btn">
        <div class="material-icons">group_work</div>
        <div>{{lng('13')}}</div>
      </md-button>
    </div>
  </div>

  <!-- line 04 -->
  <div flex layout="row">
    <div flex layout="row" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-1 RD-home-btn">
        <div class="material-icons">contact_mail</div>
        <div>{{lng('14')}}</div>
      </md-button>
    </div>

    <div flex layout="row" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-1 RD-home-btn">
        <div class="material-icons">info_outline</div>
        <div>{{lng('15')}}</div>
      </md-button>
    </div>

    <div flex layout="row" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-1 RD-home-btn">
        <div class="material-icons">vpn_key</div>
        <div>{{lng('16')}}</div>
      </md-button>
    </div>

    <div flex layout="row" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-1 RD-home-btn">
        <div class="material-icons">settings</div>
        <div>{{lng('17')}}</div>
      </md-button>
    </div>
  </div>

</div>
