<mdt-table class="RD-prc-mst-lst">
    <mdt-header-row>
        <mdt-column>{{lng('21')}}</mdt-column>
        <mdt-column>{{lng('23')}}</mdt-column>
        <mdt-column>{{lng('24')}}</mdt-column>
        <mdt-column>{{lng('25')}}</mdt-column>
        <mdt-column>{{lng('26')}}</mdt-column>
    </mdt-header-row>

    <mdt-row>
      <mdt-cell>رأفت لحمر</mdt-cell>
      <mdt-cell>ج م ع 3</mdt-cell>
      <mdt-cell>2017/09/22</mdt-cell>
      <mdt-cell>08:00 ص</mdt-cell>
      <mdt-cell>09:00 ص</mdt-cell>
    </mdt-row>

</mdt-table>
