<md-tabs md-dynamic-height md-border-bottom>

  <md-tab label="{{lng('18')}}">
    <md-content class="md-padding" ng-include="'views/presence_student/attendance_list.html'">

    </md-content>
  </md-tab>

  <md-tab label="{{lng('19')}}">
    <md-content class="md-padding" ng-include="'views/presence_student/absences_list.html'">
      Raafet
    </md-content>
  </md-tab>

  <md-tab label="{{lng('11')}}">
    <md-content class="md-padding" ng-include="'views/presence_student/charts.html'">

    </md-content>
  </md-tab>

</md-tabs>
